In [1]:
import pandas as pd

df_2022 = pd.read_csv("atp_matches_2022.csv")
df_2023 = pd.read_csv("atp_matches_2023.csv")
df = pd.concat([df_2022, df_2023], ignore_index=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5903 entries, 0 to 5902
Data columns (total 49 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tourney_id          5903 non-null   object
 1   tourney_name        5903 non-null   object
 2   surface             5850 non-null   object
 3   draw_size           5903 non-null   int64
 4   tourney_level       5903 non-null   object
 5   tourney_date        5903 non-null   int64
 6   match_num           5903 non-null   int64
 7   winner_id           5903 non-null   int64
 8   winner_seed         2470 non-null   float64
 9   winner_entry        901 non-null    object
 10  winner_name         5903 non-null   object
 11  winner_hand         5903 non-null   object
 12  winner_ht           5877 non-null   float64
 13  winner_ioc          5903 non-null   object
 14  winner_age          5902 non-null   float64
 15  loser_id            5903 non-null   int64
 16  loser_seed          1474 non-null   float64
 17  loser_entry         1349 non-null   object
 18  loser_name          5903 non-null   object
 19  loser_hand          5903 non-null   object
 20  loser_ht            5846 non-null   float64
 21  loser_ioc           5903 non-null   object
 22  loser_age           5901 non-null   float64
 23  score               5903 non-null   object
 24  best_of             5903 non-null   int64
 25  round               5903 non-null   object
 26  minutes             5391 non-null   float64
 27  w_ace               5560 non-null   float64
 28  w_df                5560 non-null   float64
 29  w_svpt              5560 non-null   float64
 30  w_1stIn             5560 non-null   float64
 31  w_1stWon            5560 non-null   float64
 32  w_2ndWon            5560 non-null   float64
 33  w_SvGms             5560 non-null   float64
 34  w_bpSaved           5560 non-null   float64
 35  w_bpFaced           5560 non-null   float64
 36  l_ace               5560 non-null   float64
 37  l_df                5560 non-null   float64
 38  l_svpt              5560 non-null   float64
 39  l_1stIn             5560 non-null   float64
 40  l_1stWon            5560 non-null   float64
 41  l_2ndWon            5560 non-null   float64
 42  l_SvGms             5560 non-null   float64
 43  l_bpSaved           5560 non-null   float64
 44  l_bpFaced           5560 non-null   float64
 45  winner_rank         5874 non-null   float64
 46  winner_rank_points  5874 non-null   float64
 47  loser_rank          5854 non-null   float64
 48  loser_rank_points   5854 non-null   float64
dtypes: float64(29), int64(6), object(14)
memory usage: 2.2+ MB

In [2]:
df.describe()

,draw_size,tourney_date,match_num,winner_id,winner_seed,winner_ht,winner_age,loser_id,loser_seed,loser_ht,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
count,5903.000000,5.903000e+03,5903.000000,5903.000000,2470.000000,5877.000000,5902.000000,5903.000000,1474.000000,5846.000000,...,5560.000000,5560.000000,5560.000000,5560.000000,5560.000000,5560.000000,5874.000000,5874.000000,5854.000000,5854.000000
mean,61.239370,2.022563e+07,237.625445,141075.710486,7.743725,187.511485,26.641461,139686.833813,9.238128,186.575094,...,50.817086,34.138669,14.496223,12.488489,4.736331,8.405216,72.009363,1752.210930,110.887940,1141.356850
std,44.542337,5.008714e+03,82.244817,41300.551047,7.143067,7.322351,4.448853,41069.544200,7.809051,7.311106,...,19.004118,14.237141,6.829930,4.178713,3.284481,4.155808,113.008412,1784.960369,173.644449,1202.960548
min,2.000000,2.022010e+07,1.000000,100644.000000,1.000000,15.000000,17.000000,100644.000000,1.000000,15.000000,...,3.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
25%,32.000000,2.022061e+07,212.500000,106214.000000,3.000000,183.000000,23.700000,106065.000000,4.000000,183.000000,...,37.000000,24.000000,10.000000,9.000000,2.000000,5.000000,18.000000,687.000000,35.000000,538.000000
50%,32.000000,2.023010e+07,276.000000,126127.000000,6.000000,188.000000,26.000000,124154.000000,7.000000,185.000000,...,48.000000,32.000000,14.000000,12.000000,4.000000,8.000000,46.000000,1010.000000,66.000000,808.500000
75%,128.000000,2.023053e+07,289.000000,200175.000000,9.000000,193.000000,29.175000,200175.000000,12.000000,191.000000,...,62.000000,42.000000,18.000000,15.000000,7.000000,11.000000,85.000000,2133.750000,112.000000,1215.000000
max,128.000000,2.023113e+07,300.000000,212051.000000,33.000000,211.000000,43.600000,212044.000000,33.000000,211.000000,...,152.000000,101.000000,48.000000,31.000000,23.000000,31.000000,1783.000000,11795.000000,2119.000000,11245.000000